Repository ruma/ruma, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jplatte, @iinuwa, @DevinR528, @ruma/macro-owners, @gnieto

.github/CODEOWNERS:

*                                      @jplatte
/crates/ruma-common/                   @iinuwa
/crates/ruma-federation-api/           @DevinR528
/crates/ruma-identifiers-validation/   @iinuwa
/crates/ruma-identity-service-api/     @iinuwa
/crates/ruma-macros/                   @ruma/macro-owners
/crates/ruma-signatures/               @gnieto
/crates/ruma-state-res/                @DevinR528

doc: migrate links from matrix-doc to matrix-spec(-proposals)
  crates/ruma-appservice-api/src/event/push_events.rs
  crates/ruma-appservice-api/src/thirdparty/get_location_for_protocol.rs
  crates/ruma-appservice-api/src/thirdparty/get_user_for_protocol.rs
  crates/ruma-client-api/src/media/create_content.rs
  crates/ruma-client-api/src/media/get_content_as_filename.rs
  crates/ruma-client-api/src/profile/get_avatar_url.rs
  crates/ruma-client-api/src/profile/get_profile.rs
  crates/ruma-client-api/src/profile/set_avatar_url.rs
  crates/ruma-client-api/src/session/get_login_types.rs
  crates/ruma-client-api/src/thirdparty/get_location_for_protocol.rs
  crates/ruma-client-api/src/thirdparty/get_user_for_protocol.rs
  crates/ruma-common/src/events/key/verification.rs
  crates/ruma-common/src/events/room.rs
  crates/ruma-common/src/events/room/avatar.rs
  crates/ruma-common/src/events/room/member.rs
  crates/ruma-common/src/events/room/message.rs
  crates/ruma-common/src/push.rs
  crates/ruma-common/src/thirdparty.rs
  crates/ruma-federation-api/src/discovery.rs
  crates/ruma-federation-api/src/membership/create_join_event.rs
  crates/ruma-federation-api/src/query/get_profile_information.rs
  crates/ruma-federation-api/src/serde/v1_pdu.rs
  crates/ruma-federation-api/src/transactions/send_transaction_message.rs
  crates/ruma-identifiers-validation/src/user_id.rs
  crates/ruma-serde/src/base64.rs
  crates/ruma-state-res/src/room_version.rs
Owners: @jplatte, @iinuwa, @DevinR528

client-api: Remove outdated comment
  crates/ruma-client-api/src/media/get_content_as_filename.rs
Owners: @jplatte

aint rooms, it's ranges
  crates/ruma-client-api/src/sync/syncv3_events.rs
Owners: @jplatte

SlidingOp and syntax fixes
  crates/ruma-client-api/src/sync/syncv3_events.rs
Owners: @jplatte

clean up room json
  crates/ruma-client-api/src/sync/syncv3_events.rs
Owners: @jplatte

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @jplatte

Fix some documentation pertaining versioned endpoints
  CONTRIBUTING.md
Owners: @jplatte

client-api: Fix wrong JoinRule type in space-room.
  crates/ruma-client-api/src/space.rs
Owners: @jplatte

WIP
  crates/ruma-client/src/http_client/reqwest.rs
Owners: @jplatte

api: Use actual event instead of account data for test
  crates/ruma-common/tests/api/ruma_api_macros.rs
Owners: @iinuwa

macros: Move additional utility function into util module
  crates/ruma-macros/src/events/event_enum.rs
  crates/ruma-macros/src/util.rs
Owners: @ruma/macro-owners

common: Split AccountData from Events
  crates/ruma-client-api/Cargo.toml
  crates/ruma-client-api/src/config/get_global_account_data.rs
  crates/ruma-client-api/src/config/get_room_account_data.rs
  crates/ruma-client-api/src/config/set_global_account_data.rs
  crates/ruma-client-api/src/config/set_room_account_data.rs
  crates/ruma-client-api/src/sync/sync_events.rs
  crates/ruma-client-api/src/tag/create_tag.rs
  crates/ruma-client-api/src/tag/get_tags.rs
  crates/ruma-common/Cargo.toml
  crates/ruma-common/src/account_data.rs
  crates/ruma-common/src/account_data/_custom.rs
  crates/ruma-common/src/account_data/direct.rs
  crates/ruma-common/src/account_data/fully_read.rs
  crates/ruma-common/src/account_data/ignored_user_list.rs
  crates/ruma-common/src/account_data/push_rules.rs
  crates/ruma-common/src/account_data/tag.rs
  crates/ruma-common/src/events.rs
  crates/ruma-common/src/events/_custom.rs
  crates/ruma-common/src/events/enums.rs
  crates/ruma-common/src/events/event_kinds.rs
  crates/ruma-common/src/lib.rs
  crates/ruma-common/tests/api/ui/01-api-sanity-check.rs
  crates/ruma-common/tests/events/enums.rs
  crates/ruma-common/tests/events/ui/07-enum-sanity-check.rs
  crates/ruma-macros/src/account_data.rs
  crates/ruma-macros/src/account_data/enums.rs
  crates/ruma-macros/src/events/event_content.rs
  crates/ruma-macros/src/events/event_enum.rs
  crates/ruma-macros/src/events/event_parse.rs
  crates/ruma-macros/src/events/event_type.rs
  crates/ruma-macros/src/lib.rs
Owners: @jplatte, @iinuwa, @ruma/macro-owners

Move attribute
  crates/ruma-common/src/identifiers.rs
  crates/ruma-common/src/lib.rs
Owners: @iinuwa

Don't check default features
  xtask/src/ci.rs
Owners: @jplatte

Use StringEnum
  crates/ruma-common/src/identifiers/crypto_algorithms.rs
Owners: @iinuwa

Make command shorter
  xtask/src/ci.rs
Owners: @jplatte
